@import "tailwindcss";



@font-face {
    font-family: "Cabin";
    src: url("/assets/cabin.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

body {
    font-family: "Cabin", sans-serif;
}

@keyframes bounce-img {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.pokemon-bounce {
  animation: bounce-img 0.3s infinite;
}

.animate-pingv2{
  animation: pingv2 0.8s cubic-bezier(0.4, 0, 0.6, 1) infinite; /* ping 1s cubic-bezier(0, 0, 0.2, 1) infinite */
}

@keyframes pingv2 {
  50% {
    opacity: 0.5;
  }
}