@import "tailwindcss";



@font-face {
    font-family: "Cabin";
    src: url("/assets/cabin.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

body {
    font-family: "Cabin", sans-serif;
}

.nav-hidden{
  display: none;
}
.ocultar-anim{
  animation: ocultar 0.2s forwards;
}

.nav-visible{
  display: block;
  animation: mostrar 0.2s ease;
}

@keyframes mostrar{
  0%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes ocultar{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  99%{
    transform: translateY(-20px);

  }
  100%{
    opacity: 0;

  }
}

/* .scroll-custom::-webkit-scrollbar {
  height: 4px; 
}

.scroll-custom::-webkit-scrollbar-track {
  background: transparent; 
}

.scroll-custom::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25); 
  border-radius: 14px;
}


.scroll-custom::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

.scrollbar-hide {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
} */